table, h1{
    color: aliceblue;
    font-size: 18px;
    border-collapse: collapse;
    width: 100%;
    padding: 8px;
}


.mensaje_list{
    color: aliceblue;
    border-collapse: collapse;
    width: 100%;
}


.form-group label{
    color: white;
    font-size: 20px;
}



/*IPHONE 5*/
@media only screen and (min-width:320px) and (max-width:568px) {
    thead, .tabla_regist{
        width: 100%;
    }

}